@import "reset";
$base-color: white;
$primary-color: #47b2e4;
.bannercolor{
    background-color: #37517e;
}
nav {
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    li{
        display: inline-block;
    }
    a{
        display: block;
        padding: 10px 0 10px 30px;
        justify-content: space-between;
        text-decoration: none;
        display: flex;
        margin-left: 35px;
        color: white;
    }

    .nav-link{
        color: $base-color;
    }  
    .active{
        color: $primary-color;
    }
}

@mixin bordered($color) {
    border:solid $color;
}

.scrollto{
    @include bordered($primary-color);
    padding: 8px 20px;
    border-radius: 50px;
    color: $base-color;
}

.logo a{
    text-decoration: none;
    color: $base-color;
}

.cliens {
    background-color: #f3f5fa;
}
.section-title{
    text-align: center;
    padding: 30px;
    color: #37517e;
}
.about{
    ul{
        list-style: none;
    }
    padding-bottom: 50px
}
.btn-learn-more{
    @include bordered($primary-color);
    color: $primary-color;
    text-decoration: none;
    padding: 5px 20px;
}
.why-us{
    background-color: #f3f5fa;
    padding: 60px 100px 0 100px;
}
.content h3{
    color: #37517e;
}
.accordion-list{
    ul{
        list-style: none;
    }
    li{
        background-color: white;
        margin: 25px;
        padding: 20px;
    }
    a{
        text-decoration: none;
        color: black;
    }
}